.sidebar {
  padding: 1em 1em;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  max-width: 300px;
  max-height: 500px;
  overflow-y: auto;

  .legend {
    margin: 1em;
  }
}
.sidebar h4 {
  margin: 0 0 1em;
  color: #777;
}
